<h1>qwickr</h1>
<h2>Posts</h2>
<p><%= link_to "Add new post", new_post_path %></p>
<% @posts.each do |post| %>
  <div class="post">
    <h2><%= link_to post.title %></h2>
    <p><%= post.content %></p>
  </div>
<% end %>

<p><%= paginate @posts %></p>
